// ==============================
// Custom style
// 自定义样式
// ==============================
/* Custom styles. */

* {
	scroll-behavior:smooth;
}

/* 首页头像 */
/* bilibili头像挂件 */
img.site-avatar-plug-bilibili {
    position: absolute;
    display: block;
    margin: -2rem !important;
    padding: 0;
    width: 9rem !important;
    max-width: 168px;
    height: auto;
    box-shadow: none !important;
    z-index: 1;
    pointer-events: none;
}

/* 头像旋转 */
.home .home-profile .home-avatar img {
    width: 5rem;

  /* 设置循环动画
  [animation: 
	(play)动画名称
	(2s)动画播放时长单位秒或微秒
	(ease-out)动画播放的速度曲线为以低速结束 
	(1s)等待1秒然后开始动画
	(1)动画播放次数(infinite为循环播放) ]*/
 
  /* 鼠标经过头像旋转360度 */
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
    &:hover {
      /* 鼠标经过停止头像旋转 
      -webkit-animation-play-state:paused;
      animation-play-state:paused;*/

      /* 鼠标经过头像旋转360度 */
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
}
/* Z 轴旋转动画 */
@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@-moz-keyframes play {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}
@keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}



/* 首页文章摘要 */
.home[posts] .summary {
	margin-bottom: .1rem;
    margin-left: -1rem;
    margin-right: -1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    background: white;
	opacity: .95;
}
[theme=dark] .home[posts] .summary {
    background: #3a3535;
}

/* 首页的分页页码 */
.pagination {
    margin-top: .1rem;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 1rem;
	padding: 1rem 2rem .5rem 0;
    background: white;
	opacity: .95;
}
[theme=dark] .pagination {
    background: #3a3535;
}

/* 首页的阅读全文按钮 */
.single.summary .post-footer a:first-child {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -0.25em;
      right: -0.25em;
      background-color: hsla(341, 97%, 59%, 0.75);
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: center left;
    }
}







/* 文章的标签 */
.post-tags a {
    position: relative;
    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fc2f70;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    &::before {
      top: 0;
      transform-origin: center right;
    }

    &:hover::before {
      transform-origin: center left;
      transform: scaleX(1);
    }

    &::after {
      bottom: 0;
      transform-origin: center left;
    }

    &:hover::after {
      transform-origin: center right;
      transform: scaleX(1);
    }

}


/* 页面脚部 */
.footer {
    display: block;
	border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #a166ab;
    position: relative;
    z-index: -1;
    max-width: 800px;
    width: 60%;
    margin: .1rem auto 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
    background: white;
	opacity: .95;
}
[theme=dark] .footer {
    background: #3a3535;
}

@media only screen and (max-width: 1440px) {
    .footer {
        width:54.5%
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width:50.5%
    }
}

@media only screen and (max-width: 960px) {
    .footer {
        width: 77%
    }
}

@media only screen and (max-width: 680px) {
    .footer {
        width: 95%
    }
}


/* 分隔线 */
hr {
    border: none;
    border-bottom: 2px dashed #7a7a7a !important;
}
